
body {
	color: #fff;
	background: black url(../images/bg.jpg) no-repeat fixed top center;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	margin: 0;
	padding: 0;
}

.logo {
	width: 180px;
	left: 50%;
	margin-left: -90px;
	display: block;
	position: fixed;
}

.wrapper-iframe {
	width: 1190px;
	display: block;
	margin: 0 auto;
}

.wrapper-iframe .iframe-left {
	padding-right: 60px;
}

.wrapper-iframe .iframe-right {
	padding-left: 60px;
}

.top, .bottom, .left, .right {
    background: rgba(255,255,255,.4);
    position: fixed;
    z-index: -1;
}

.top, .bottom {
    left: 40px;
    right: 40px;
    height: 1px;
}

.top {
    top: 40px;
    background: none;
}

.bottom {
    bottom: 40px;
}

.left, .right {
    top: 40px;
    bottom: 40px;
    width: 1px;
}

.left {
    left: 40px;
}

.right {
    right: 40px;
}

.top-left {
	height: 1px;
	width: 42%;
	background: rgba(255,255,255,.4);
}

.top-right {
	height: 1px;
	width: 42%;
	background: rgba(255,255,255,.4);
	float: right;
}






