@font-face {
    font-family: 'Conv_Brandon_bld';
    src: url('../fonts/Brandon_bld.eot');
    src: local('☺'), local('../fonts/Brandon_bld.woff') format('woff'), url('../fonts/Brandon_bld.ttf') format('truetype'), url('../fonts/Brandon_bld.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Brandon_reg';
    src: url('../fonts/Brandon_reg.eot');
    src: local('☺'), local('../fonts/Brandon_reg.woff') format('woff'), url('../fonts/Brandon_reg.ttf') format('truetype'), url('../fonts/Brandon_reg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Brandon_bld';
    src: url('../fonts/Brandon_bld.ttf');
}

@font-face {
    font-family: 'Conv_Brandon_reg';
    src: url('../fonts/Brandon_reg.ttf');
}

#fontTrick1{
    font-family: 'Conv_Brandon_reg';
    /*width: 0;
    height: 0;*/
}

#fontTrick2{
    font-family: 'Conv_Brandon_bld';
    /*width: 0;
    height: 0;*/
}

canvas#wheelcanvas1top,
canvas#wheelcanvas2top {
    border: solid 10px white;
    border-radius: 50%;
    color: white;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

canvas#wheelcanvas1,
canvas#wheelcanvas2 {
    width: 520px;
    height: 520px;
}

div#wheelcanvas1Outer,
div#wheelcanvas2Outer {
    width: 520px !important;
    height: 520px !important;
}

.iframe {
    height: 520px;
    width: 520px;
    position: absolute;
    top: 50%;
    margin-top: -260px;
}

.click-spin-wrapper {
	background: rgba(255,255,255,.6);
	border-radius: 50%;
	width: 140px;
    height: 140px;
    position: absolute;
    top: 188px;
    left: 188px;
    z-index: 1;
    border: solid 2px white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.click-spin {
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 100;
    position: relative;
    margin-left: 40px;
    margin-top: 41px;
}

.click-spin span {
    font-family: 'Conv_Brandon_bld', arial;
    font-size: 14px;
    text-align: center;
    display: block;
    padding-top: 8px;
    position: relative;
    font-weight: bold;
}