$ghost: #FAFAFA;
$pink: #f06292;
$blue: #2199e8;
$green: #AAFD6A;

$breakpoints: (
        small: 0,
        medium: 640px,
        large: 1024px,
        xlarge: 1200px,
        xxlarge: 1440px,
);

$susy: (
        global-box-sizing: border-box,
        gutters: 0,
        columns: 24,
        output:isolate,
        container: map-get($breakpoints, 'xlarge')
);

$susy-mobile: (
        global-box-sizing: border-box,
        gutters: 0,
        columns: 64,
        output:isolate,
        container: map-get($breakpoints, 'medium'),
);

$desktop: "only screen and (min-width:#{map-get($breakpoints, 'xlarge')})";
$mobile: "only screen and (max-width:#{map-get($breakpoints, 'medium')})";

//$fa-font-path:"~/node_modules/font-awesome/fonts";

//@font-face {
//  font-family: "Architects Daughter";
//  src: url("../fonts/ArchitectsDaughter.ttf");
//}

ul {
  list-style: none;
  margin: 0;
}