@import "_settings";


@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
